.searchFlightPanel{
    height: 200%;
    border: 1px solid black;
    border-radius: 7px;
    min-width: 320px;
    min-height: 732px;
}

.mainPageFirstLvl{
    opacity: 0.85;
    border-top: 1px solid black;
    border-left: 1px solid black;
    border-right: 1px solid black;
    border-top-left-radius: 7px;
    border-top-right-radius: 7px;
    min-width: 320px;
}

.mainPageSecondLvl{
    background: lightgray;
    opacity: 0.95;
    border-left: 1px solid black;
    border-right: 1px solid black;
    min-width: 320px;
}

.mainPageThirdLvl{
    background: white;
    opacity: 0.85;
    border-left: 1px solid black;
    border-right: 1px solid black;
    min-width: 320px;
}

.mainPageFourthLvl{
    background: white;
    opacity: 0.85;
    border-left: 1px solid black;
    border-right: 1px solid black;
    border-bottom: 1px solid black;
    border-bottom-left-radius: 7px;
    border-bottom-right-radius: 7px;
    min-width: 320px;
}

.mainPageImgOverlap{
    margin-left: 50% !important;
    transform: translateX(-50%) !important;
    
}

.mainPageImgOverlapWidth{
    width:420px;
}

.ourMissionDescWide {
        margin-top: 20px;
        margin-left: 55%;
        margin-right: 10%;
        margin-bottom: 50px;
    }
@media all and (max-width: 992px) {
    .ourMissionDescWide {
        margin-top: 20px;
        margin-left: 40%;
        margin-right: 10%;
        margin-bottom: 50px;
    }
}

/* .ourMissionDesc{
        background: blue; 
} */

.textCenter{
    text-align: center;
}
.textJustify{
    text-align: justify;
}

.serviceDescriptionIcon{
    width: 100%;
    height: auto;
}

.ServicesPageBgImg{
    background-image: url("/ServicesPage/FrontToCloud.jpg")  !important;
    background-size:100% 100% !important;
    opacity: 1 !important;
    height: 600px;
}

@media all and (max-width: 992px) {
    .ServicesPageBgImg {
        height: 350px !important;
    }
}
/* //////////////////////////////// */
.pagination{
    color: black !important;
}

.page-link{
    color: black ;
}

.page-item.active{
    color: white !important;
    background-color: gray !important;
    border-color: #007bff;
}
.page-item.active .page-link {
    color: white !important;
    background-color: gray !important;
    border-color: #007bff;
}

.paginationCustomStyle{
    color: black !important;
    text-align: center !important;
    overflow: hidden !important;
    width: 100%;
}
/* //////////////////////////////////////////////////// */

.servicesChessWhite{
    /* background: Gainsboro; */
    background: #02416e;
}
.servicesChessLightGray{
    /* background: lightgray; */
    background: #003867;
}
.servicesChessDarkGray{
    /* background: silver; */
    background: #01305e;
}

.noprint {visibility:hidden}

.servicePageCaptionText{
    color: #0bf0f0;
    overflow: hidden;
}

@media all and (min-width: 992px) {
    .servicePageCaptionTextPosition{
        position: relative; 
        bottom: -45px;
        left: 100px;
        overflow: hidden;
        /* font: 1.6em sans-serif; */
    }
    /* h1.servicePageCaptionTextPosition{
        text-size-adjust: calc(30%) !important;
    } */
    .servicePageSubTextPosition{
        position: relative; 
        top: 470px;
        /* right: -480px; */
        right: -50%;
    }

    .contactPageSubTextPosition{
        position: relative; 
        top: 370px;
        /* right: -480px; */
        right: -65%;
    }
}
@media all and (max-width: 992px) {
    .servicePageCaptionTextPosition {
        margin-top: 10px;
        text-align: center !important;
        overflow: hidden;
        font: 1.6em sans-serif;
    }
    /* h1.servicePageCaptionTextPosition{
        text-size-adjust: calc(30%) !important;
    } */
    .servicePageSubTextPosition{
        position: relative; 
        top: 250px;
        font: 1.5em sans-serif;
        /* right: -480px; */
        text-align: center !important;
        /* right: -50%; */
    }
    .contactPageSubTextPosition{
        position: relative; 
        top: 250px ;
        font: 1.5em sans-serif;
        /* right: -480px; */
        text-align: center !important;
        /* right: -50%; */
    }
}

@media all and (max-width: 600px) {
    .contactPageSubTextPosition{
        position: relative; 
        top: 100px !important;
        font: 1.5em sans-serif;
        /* right: -480px; */
        text-align: center !important;
        /* right: -50%; */
    }
}

.servicePagePartnersImg{
    border: 3px solid gray;
    border-radius: 9px;
    width: fit-content;
    overflow: hidden;
    
}
.servicePagePartnersImg:hover {
    border: 3px solid #0bf0f0;
}

.servicePagePartnersImg>a>img{
    height: 120px;
}

@media all and (max-width: 992px) {
    .servicePagePartnersImg>a>img{
        height: 80px;
    }
}
@media all and (max-width: 766px) {
    .servicePagePartnersImg>a>img{
        height: 180px;
    }
}
/* //////////////////////////////////////// */

.CarrersPageBgImg{
    background-image: url("/CareersPage/careers.png")  !important;
    background-size:100% 100% !important;
    opacity: 1 !important;
    height: 500px;
}

@media all and (max-width: 992px) {
    .CarrersPageBgImg {
        height: 350px !important;
    }
}

@media all and (max-width: 600px) {
    .CarrersPageBgImg {
        height: 200px !important;
    }
}

.ContactPageBgImg{
    background-image: url("/CareersPage/contact.png")  !important;
    background-size:100% 100% !important;
    opacity: 1 !important;
    height: 500px;
}

@media all and (max-width: 992px) {
    .ContactPageBgImg {
        height: 350px !important;
    }
}

@media all and (max-width: 767px) {
    .ContactPageBgImg {
        height: 250px !important;
    }
}

@media all and (max-width: 600px) {
    .ContactPageBgImg {
        height: 200px !important;
    }
    
    .ServicesPageBgImg{
        height: 250px !important;
    }
}
.ApplyPageBgImg{
    background-image: url("/CareersPage/apply.png")  !important;
    background-size:100% 100% !important;
    opacity: 1 !important;
    height: 500px;
}

@media all and (max-width: 992px) {
    .ApplyPageBgImg {
        height: 350px !important;
    }
}

@media all and (max-width: 600px) {
    .ApplyPageBgImg {
        height: 200px !important;
    }
}
/* ////////////////////////////////////////// */

.inputPurpose{
    color: black;
}

.green-border-focus .form-control:focus {
    border: 1px solid #0bf0f0;
    box-shadow: 0 0 0 0.2rem rgba(139, 195, 74, .25);
}
/* ////////////////////////////////////////// */

body{
    background: white;
    background-image: url(./paternfinal.jpg); 
    background-repeat: repeat-y; 
    background-size: 100%;

}

.navbar-nav>a{
padding: 0;
margin-right: 14px;
}

.navbar-brand{
    margin-left: 14px;
}

.pageBaseComponent{
    background: white;
}


.scrollUp{
    position: fixed; 
    bottom: 10px;
    right: 10px;
    opacity: 0.7;
    z-index: 2147483647;
    width: 40px;
    border:  1px solid #303030	;
    /* display: block; */
}

.scrollUp:hover {
    background-color: black; /* Green */
    color: white;
    opacity: 0.8;
  }

.footerComponent{
    padding-top: 2%;
    padding-bottom: 2%;
    text-align: center;
    position: relative;
    bottom: 0;
    color: white;
    /* justify-content: center!important; */

    justify-content: space-between;
    /* align-items: flex-start; */
}

nav>*> .active{
    color: white;
}

nav>*>*>*{
    padding-right: 5%;
}

nav>*>*> .active{
    color: white;
}


nav>span>a {
    color: rgb(141, 142, 143);
    text-decoration: none;
}

nav>span>a:hover 
{
     color:#0bf0f0; 
     text-decoration:none; 
     cursor:pointer;  
}

nav>div>div>a {
    color: rgb(141, 142, 143);
    text-decoration: none;
}

nav>div>div>a:hover 
{
     color:#0bf0f0; 
     text-decoration:none; 
     cursor:pointer;  
}

.mydatepickerClass{
    margin-right: 0;
    margin-left: 0;
    width: 100%         !important;
}

.react-datepicker-wrapper{
    width: 100%         !important;
}

.react-datepicker__input-container{
    width: 100%         !important;
}

